<div class="container">
  <div class="dashboard">
    <div class="resume">
      <div class="resume-infos">
        <p><%= @my_groups.size %></p>
        <p>Groupes</p>
      </div>

<!--       <div class="resume-infos">
        <p>4</p>
        <p>Victoires</p>
      </div>
      <div class="resume-infos">
        <p>2</p>
        <p>Défaites</p>
      </div>
       -->
    </div>
    <% if @my_groups.nil? %>
      <p>N'attendez plus créer le votre en invitant vos amis</p>
    <% else %>
    <div class="events-grid">
      <% @my_groups.each do |group| %>
          <% url = group[:photo] %>
        <div class="card-my-groups" style="background-image: url(<%= url %>); background-size: cover; opacity: 0.8">
          <div style="opacity: 1">
<!--
          <div class="img-card-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), opacity: 0.3, url(<%= url %>);">
 -->
     <!--       <div class= "img-card-show2">

           </div> -->
          <h3><%= group.name %></h3>

          <p>La dernière activité réalisée: <%= group.win %></p>
          <!--   <p>Groupe:</p> -->

          <p>Le <%= group.date_event %></p>
          <%   all_event = group.events  %>
          <p>Les événements selectionné:</p>
          <% all_event.each do |event|  %>
          <p>- <%= event.name %></p>
          <% end %>
          <p>Les membres du groupe: </p>
          <% gg = group.email.split('"') %>
          <% gg.delete_at(0) %>
          <% gg.delete_at(-1) %>
          <% gg.each do |email| %>
          <p>- <%= email %></p>
          <% end %>
          <p><%= link_to "Réutiliser", edit_group_path(group.id), class: "boutton-show-2" %></p>
          <p><%= link_to "Supprimer",
            group_path(group.id),
            method: :delete,
            data: { confirm: "Vous êtes sur?" } %></p>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


