
<h1> Vous avez
  <% if @my_groups.size == 1  %>
 <%= @my_groups.size %> groupe</h1>
 <% else %>
 <%= @my_groups.size %> groupes</h1>
 <% end %>


         <% if @my_groups.nil? %>
      N'attendez plus créer le votre en invitant vos amis
    <% else %>
    <p></p>

 <!-- <ul class="list_event-notvoted"> -->
      <div class="card-event-show2">
     <% @my_groups.each do |group| %>

          <% url = group[:photo] %>
          <div class="event-choice2">
          <% if url.nil? %>
          <%= image_tag "festeam-logo.png", class: "img-card-show2" %>
          <% else %>
          <%= image_tag (url), class: "img-card-show2" %>
          <% end %>
          <!-- <div class="card-infos-show2"> -->
            <p>
          <h4 style="margin-left: 10px; font-weight: bold; color: black;">
           <%= group.name %>
          </h4>
          </p>
          <p>
            <h6>
         <strong> La dernière activité:</strong> <br><%= group.win %>
          <br>
          <br>
          <strong> Date </strong> <br> <%= group.date_event %>
          <% all_event = group.events  %>
          </h6>
          </p>
          <p>
          <strong> Les événements selectionné: </strong>
          <br>
          <% all_event.each_with_index do |event, i|  %>
          - <%= event.name %>
          <% half_size = all_event.size/2 %>
          <% if all_event.size >= 6 && all_event[half_size] == event %>
            </p><p>
            <% end %>
          <br>
          <% end %>
          </p>
          <p>
            <h6>
         <strong> Les membres du groupe: </strong>
          <br>
          <% array_email = group.email.split('"') %>

          <% array_email.delete_at(0) %>
          <% array_email.delete_at(-1) %>
          <% array_email.delete('"') %>
          <% array_email.delete(',') %>

          <% array_email.each_with_index do |email, i| %>
            <% if i.even? || array_email.size == i+1 %>
          -<%= email %>
          <br>
          <% half_size = array_email.size/2 %>
          <% if array_email.size >= 6 && array_email[half_size] == email %>
            </p><p>
            <% end %>

            <% end %>
          <% end %>
          </h6>
          </p>
          <p>
            <h6>
          <%= link_to "Réutiliser", edit_group_path(group.id), class: "boutton-show-2", style: "padding:5px" %>
            <br>
            <br>
            <%= link_to "Rejoindre", group_path(group.id), class: "boutton-show-2", style: "padding:5px" %>
            <br>
            <br>
          <%= link_to "Supprimer",
            group_path(group.id),
            class: "boutton-show-2",
            style: "padding:5px",
            method: :delete,
            data: { confirm: "Vous êtes sur?" } %>
          </h6>
          </p>
           </div>
           </div>
          <% end %>
          <% end %>
